@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    background-color:#e3e3e3;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
    background-color:#fff;
    border-radius:8px;

}

img {
  display: block;
  width: 100%;
}

.image {
    margin:0;
    position: relative;
}

.over {
    position:absolute;
    bottom: 0;
    font-family:serif;
    font-size: 1.3rem;
    color:#fff;
    background-color: rgba(0,0,0,.3);
    padding: 25px;
    width: 100%;
}

.content {
    overflow:hidden;
}

.name {
    font-weight:bold;
    font-size:1.5rem;
}
    

.list {
    list-style:none;
    float: left;
    border-left: 1px solid #d1d1d1;
    padding-left:2%;
    margin-right: 20%;
}

.term {
    color:#d1d1d1;
    text-transform:uppercase;
    font-size: 1rem;
}
    